@import url(http://fonts.googleapis.com/css?family=Capriola);

/* Navigation Bar */
 
.nav-bar {
  background: linear-gradient(to bottom, #9caac1, #39559f);  /* Green gradient - light to dark. */
  font-size: 14pt;
  font-family: Century Gothic;
  text-align: left;  /* May want to align center */
}
.nav-menu a {
  color: #fff;  /* White font for link color. */
}
.nav-menu,
.nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-menu li {
  position: relative;
}
.nav-menu a {
  padding: 5px 10px;
  margin: 5px 10px;
  display: block;
  text-decoration: none;
  border-radius: .2em;  /* Nice little rounded corners. */
}
.nav-menu a:hover {
  opacity: 1.0;
  background: rgba(0, 0, 0, 0.8);  /* Solid black rollover for all items. */
}
 
/* Selected Menu Item */
 
.selected {
  opacity: 1.0;
  background: rgba(255, 255, 255, 0.5);  /* Transparent white selected item. */
  color: #000 !important;                /* Black font. */
  border-radius: .2em;
}
 
/* Navigation Bar - Level 1 Drop Down Menu */
 
.nav-menu > li {
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
}
.nav-menu > li:first-child {
  margin-left: 0;
}
.nav-menu > li > a {}
.nav-menu > li > a:hover {}
 
/* Navigation Bar - Level 2 */
 
.nav-menu > li > ul {
  text-align: left;
  width: auto;  /* Change auto value with 200px if you want a bigger menu */
  display: none;
  background: #39559f;  /* Dark blue. */
  position: absolute;
  top: 100%;
  left: 0;
  padding-bottom: 5px;
  min-width: 200px;
  border-radius: 0 0 .5em .5em;
  z-index: 9999999;
}
.nav-menu > li:hover > ul {
  display: block;
}
.nav-menu ul li a {}
.nav-menu ul li a:hover {}
 
/* Navigation Bar - Level 3 */
 
.nav-menu > li > ul > li > ul {
  text-align: left;
  display: none;
  background: #39559f;  /* Light blue. */
  position: absolute;
  left: 100%;
  top: 0;
  padding-bottom: 5px;
  min-width: 250px;
  border-radius: 0 0 .5em .5em;
  z-index: 9999999;
}
.nav-menu > li > ul > li:hover > ul {
  display: block;

}
.nav-menu ul ul li {}
.nav-menu ul ul li a {}
.nav-menu ul ul li a:hover {}
 
/* Navigation Bar - Level 4 */
 
.nav-menu > li > ul > li > ul > li > ul {
    float:right;
  text-align: right;
  display: none;
  background: #39559f;  /* Light blue. */
  position: absolute;
  left: 100%;
  top: 0;
  padding-bottom: 5px;
  min-width: 250px;
  border-radius: 0 0 .5em .5em;
  z-index: 9999999;
}
.nav-menu > li > ul > li > ul > li:hover > ul {
  display: block;
  float:right;
}
.nav-menu ul ul ul li {}
.nav-menu ul ul ul li a {}
.nav-menu ul ul ul li a:hover {}

.nav-menu > li:last-child {
  margin-left: 0;
  float:right;
}

#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a
{
    margin: 0;
    padding: 0;
    border: 0;
    margin-top:0px;
    list-style: none;
    line-height: 0.7;
    display: block;
    position: relative;
    font-family:Century Gothic;
	 font-weight:normal;
	font-size:14pt;
}
#cssmenu
{
    margin: 0;
    margin-top:-5px;
    width: auto;
    height: 30px;
    padding-bottom: 6px;
    /*background: #3090C7;*/
    /*background: #9caac1 ;*/
    background: linear-gradient(to bottom, #9caac1, #39559f);
}
#cssmenu.align-right
{
    float: left;
}
#cssmenu.align-right ul li
{
    float: left;
    margin-right: 0;
    margin-left: 4px;
    list-style: none;
    vertical-align: middle;
}

#cssmenu li ul { 
	position: absolute;  
	display: none; 
	
} 
#cssmenu li:hover ul { 
	display: block; 


} 



#cssmenu ul li
{
    float: left;
    margin-right: 4px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 5;
}



#cssmenu li ul li a { 
	width: 330px; 
	position:relative; 

	background: #25383C; 
	color: #fff; 
	  text-align: left;
}

#cssmenu li ul li a:hover { 
	
	color: White; 
	width: 330px; 
	
}

#cssmenu ul li
{
    float: left;
    margin-right: 4px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 5;
}
#cssmenu ul li a
{
    padding: 14px 20px 10px 20px;
    margin-bottom: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: White;
    font-size: 11pt;
    text-decoration: none;
     
}


#cssmenu ul li:last-child
{
    float: right;
    border-bottom-left-radius: 3px;
    text-align: center;
          
}

#cssmenu ul li:hover, #cssmenu ul li.active
{
	

	  
}
#cssmenu ul li a:hover, #cssmenu ul li.active > a
{
    
    color: White;

}



